.chat-input-wrapper {
   background-color: white;
   padding: 12px 20px;
   width: 86%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-basis: 10%;
   box-shadow: none !important;
   border-radius: 5px !important;
   margin-bottom: 2%;
}

.chat-input-wrapper input {
    border: none;
    font-size: 18px;
    background-color: #e2e2ff;
    border-radius: 3px !important;
    width: 86%;
    padding: 4px 12px !important;
}

.chat-input-wrapper .send-btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transform: rotate(-40deg);
    border: none; 
    border-radius: 50px;
}

.chat-input-wrapper .send-btn span {
    width: 36px;
    border-radius: 80px;
    background-color: #4577e3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
}

.chat-input-wrapper .send-btn span svg {
    margin-left: 8px;
    margin-top: 2px;
}

.chat-input-wrapper .send-btn span:hover {
    background-color: #0f4acb;
    outline: none;
}

.chat-input-wrapper .send-btn:focus {
    outline: none;
}

.chat-input-wrapper .attach-files-btn {
    border: none;
    background-color: transparent;
    color: grey;
    cursor: pointer;
    width: 32px;
    height: 32px;
}
.chat-input-wrapper .attach-files-btn:hover {
    color: #0f4acb
}