body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.screen-wrapper {
  width: 100%;
  height: 100%;
  background-color: #d8d8ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-heading {
  text-align: center;
  font-size: 28px;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.submit-btn {
background-color: #4577e3;
padding: 8px 40px;
color: white;
border-radius: 4px;
cursor: pointer;
border: none;
outline: none;
margin-top: 20px;
}

.submit-btn:hover {
  background-color: #0f4acb;
}

.text {
  text-align: center;
  font-size: 18px;
  color: black;
 margin-top: 16px;
}

.text span {
  color: #114bca;
  cursor: pointer;
}

form {
width: 400px;
height: auto;
background-color: white;
box-shadow: 2px 1px 10px gray;
padding-inline: 20px;
padding-top: 16px;
padding-bottom: 40px;
border-radius: 5px;
}

label {
  display: block;
  margin-top: 20px;
}

input {
  display: block;
  width: 96%;
  height: 30px;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px #bfbfbf solid;
  padding: 0px 8px;
}

input:focus {
  border-color: blue;
  outline: none;
}

input:hover {
  border-color: blue;
  outline: none;
}

select {
  display: block;
  width: 100%;
  height: 34px;
  margin-top: 16px;
  border: 1px solid #bfbfbf;
  background-color: white;
  border-radius: 5px;
  padding: 0px 8px;
}

select:focus {
  border-color: blue;
  outline: none;
}

select:hover {
  outline: none;
  border-color: blue;
}
